/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-1450 {
    padding: var(--sectionPadding);
  }
  #content-1450 .cs-container {
    width: 100%;
    max-width: 51.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: var(--sectionGap);
  }
  #content-1450 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #content-1450 .cs-title,
  #content-1450 .cs-text {
    max-width: 100%;
  }
}
/*-- -------------------------- -->
<---       Meet Our Team        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-547 {
    padding: var(--sectionPadding);
  }
  #meet-team-547 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: 2rem;
  }
  #meet-team-547 .cs-content {
    /* set text aling to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #meet-team-547 .cs-content .cs-title {
    max-width: unset;
    width: 100%;
    text-align: center;
  }
  #meet-team-547 .cs-content .line {
    margin: 0 0 1rem 0;
    max-width: unset;
  }
  #meet-team-547 .cs-content .cs-filter-wrapper {
    overflow: auto;
    width: 100%;
    max-width: unset;
  }
  #meet-team-547 .cs-content .cs-start-end-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
  }
  #meet-team-547 .cs-content .cs-start-end-wrapper input {
    width: 100%;
    margin: 0;
    height: 2rem;
  }
  #meet-team-547 .cs-content .cs-start-end-wrapper input::placeholder {
    font-size: var(--mediumFontSize);
    text-align: center;
  }
  #meet-team-547 .cs-content .cs-filter-year-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 1rem);
  }
  #meet-team-547 .cs-content .cs-filter-button-wrapper {
    width: 100%;
    flex-direction: column;
    border: none;
    flex-wrap: nowrap;
    padding: 0;
    margin-top: 1rem;
  }
  #meet-team-547 .cs-content .cs-filter-button-wrapper > div {
    display: flex;
  }
  #meet-team-547 .cs-content .cs-filter-button-wrapper .cs-add-filter-wrapper {
    display: none;
  }
  #meet-team-547 .cs-topper,
  #meet-team-547 .cs-title,
  #meet-team-547 .cs-text {
    color: var(--bodyTextColor);
  }
  #meet-team-547 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 1rem;
    margin: 0 0 1.25rem 0;
  }
  #meet-team-547 .cs-item {
    /* changed to left at desktop */
    text-align: center;
    list-style: none;
    width: 100%;
    height: fit-content;
    max-width: 32.625rem;
    margin: 0;
    padding: 0;
    background-color: var(--bodyTextColorWhite);
    box-shadow: var(--boxCardShadow);
  }
  #meet-team-547 .cs-picture {
    width: 100%;
    height: auto;
    /* height divided by width, changed at desktop */
    aspect-ratio: 1;
    /* clips image tag from overflowing on hover */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #meet-team-547 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image behave like a background image */
    object-fit: cover;
    /* places top of the image at the top of the box */
    object-position: top;
    transition: transform 0.6s;
  }
  #meet-team-547 .cs-title-card-wrapper .cs-title {
    margin: 0 0 1.25rem 0;
  }
  #meet-team-547 .cs-job-title {
    /* 20px - 25px */
    font-size: var(--mediumFontSize);
    margin: 0 0 0.125rem 0;
    width: 100%;
    line-height: 1.2em;
    font-weight: 400;
    text-align: inherit;
    color: var(--bodyTextColor);
    display: block;
    text-align: left;
  }
  #meet-team-547 .cs-desc {
    max-height: 9em;
    overflow: hidden;
    position: relative;
  }
  #meet-team-547 .cs-desc.show-more {
    overflow: unset;
    max-height: unset;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-547 .cs-card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #meet-team-547 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: flex-start;
  }
  #meet-team-547 .cs-sidebar {
    height: 80vh;
  }
  #meet-team-547 .cs-content {
    width: 20%;
    overflow: hidden;
  }
  #meet-team-547 .cs-content .cs-title {
    width: 100%;
    text-align: start;
  }
  #meet-team-547 .cs-content .cs-filter-year-wrapper {
    width: 100%;
    align-items: flex-start;
  }
  #meet-team-547 .cs-content .cs-filter-year-wrapper .cs-start-end-wrapper {
    flex-direction: row;
  }
  #meet-team-547 .cs-content .cs-filter-year-wrapper .cs-start-end-wrapper input {
    width: 40%;
    margin: 0;
  }
  #meet-team-547 .cs-card-group {
    grid-template-columns: repeat(3, 1fr);
  }
}
