/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-1450 {
    padding: var(--sectionPadding);
  }
  #content-1450 .cs-container {
    width: 100%;
    max-width: 51.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: var(--sectionGap);
  }
  #content-1450 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #content-1450 .cs-title,
  #content-1450 .cs-text {
    max-width: 100%;
  }
}
/*-- -------------------------- -->
<---       Meet Our Team        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-547 {
    padding: var(--sectionPadding);
  }
  #meet-team-547 .cs-item {
    position: relative;
  }
  #meet-team-547 .cs-publication-year,
  #meet-team-547 .cs-publication-type {
    font-size: var(--mediumFontSize);
    color: var(--bodyTextColor);
  }
  #meet-team-547 .cs-publication-type,
  #meet-team-547 .cs-name,
  #meet-team-547 .cs-publication-author {
    margin: 0 0 0.5rem 0;
    text-align: left;
  }
  #meet-team-547 .cs-badge {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 75px;
    height: 75px;
    z-index: 1;
  }
  #meet-team-547 .cs-flex-group {
    position: relative;
    align-items: flex-start;
  }
  #meet-team-547 .cs-item-social {
    width: 100%;
  }
  #meet-team-547 .cs-search-title-wrapper {
    display: flex;
    flex-direction: column;
  }
  #meet-team-547 .cs-search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
  }
  #meet-team-547 .cs-search-wrapper img {
    cursor: pointer;
  }
  #meet-team-547 .cs-type-wrapper {
    font-size: var(--bodyFontSize);
    color: var(--bodyTextColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  #meet-team-547 .cs-type-wrapper label {
    display: flex;
    gap: 0.5rem;
    text-align: center;
  }
  #meet-team-547 .cs-filter-wrapper {
    overflow: auto;
  }
  #meet-team-547 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: 2rem;
  }
  #meet-team-547 .cs-content {
    /* set text aling to left if content needs to be left aligned */
    width: 100%;
    display: flex;
    flex-direction: row;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
  }
  #meet-team-547 .cs-content .line {
    margin: 0 0 1rem 0;
  }
  #meet-team-547 .cs-content > div {
    width: 100%;
  }
  #meet-team-547 .cs-content .cs-search {
    width: 100%;
    height: 2.5rem;
  }
  #meet-team-547 .cs-content .cs-filter-button-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 0;
    gap: 1.5rem;
    border: 2px solid var(--lineColor);
    padding: 0.5rem 0.5rem;
  }
  #meet-team-547 .cs-content .cs-filter-button-wrapper > div {
    display: none;
  }
  #meet-team-547 .cs-content .cs-filter-button-wrapper .cs-add-filter-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    gap: 1rem;
  }
  #meet-team-547 .cs-content .cs-filter-button-wrapper .cs-add-filter-wrapper .cs-title {
    margin: 0;
  }
  #meet-team-547 .cs-content .cs-filter-keywords-wrapper,
  #meet-team-547 .cs-content .cs-filter-journal-type-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  #meet-team-547 .cs-content .cs-filter-keywords-wrapper .cs-title,
  #meet-team-547 .cs-content .cs-filter-journal-type-wrapper .cs-title {
    width: 100%;
    text-align: center;
  }
  #meet-team-547 .cs-content .cs-filter-type-wrapper,
  #meet-team-547 .cs-content .cs-filter-year-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 1rem);
  }
  #meet-team-547 .cs-content .cs-filter-type-wrapper .cs-title,
  #meet-team-547 .cs-content .cs-filter-year-wrapper .cs-title {
    width: 100%;
    text-align: center;
  }
  #meet-team-547 .cs-content .cs-filter-keywords-wrapper,
  #meet-team-547 .cs-content .cs-filter-journal-type-wrapper {
    width: calc(100% - 1rem);
  }
  #meet-team-547 .cs-content input.cs-search {
    background: url(../assets/icons/search.svg);
    padding: 0 0 0 2.1875rem;
    background-repeat: no-repeat;
    background-position: center left 8px;
    background-color: white;
  }
  #meet-team-547 .cs-content .cs-start-end-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
  }
  #meet-team-547 .cs-content .cs-start-end-wrapper input {
    width: 100%;
    margin: 0;
    height: 2rem;
  }
  #meet-team-547 .cs-content .cs-start-end-wrapper input::placeholder {
    text-align: center;
  }
  #meet-team-547 .cs-topper,
  #meet-team-547 .cs-title,
  #meet-team-547 .cs-text {
    color: var(--bodyTextColor);
  }
  #meet-team-547 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 1rem;
    margin: 0 0 1.25rem 0;
  }
  #meet-team-547 .cs-item {
    /* changed to left at desktop */
    text-align: center;
    list-style: none;
    width: 100%;
    height: fit-content;
    max-width: 32.625rem;
    margin: 0;
    padding: 0;
    background-color: var(--bodyTextColorWhite);
    box-shadow: var(--boxCardShadow);
  }
  #meet-team-547 .cs-picture {
    width: 100%;
    height: auto;
    /* height divided by width, changed at desktop */
    aspect-ratio: 1.49342105;
    /* clips image tag from overflowing on hover */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #meet-team-547 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image behave like a background image */
    object-fit: cover;
    /* places top of the image at the top of the box */
    object-position: center;
    transition: transform 0.6s;
  }
  #meet-team-547 .cs-name {
    font-size: var(--bodyFontSize);
  }
  #meet-team-547 .cs-title-card-wrapper .cs-title {
    margin: 0 0 1.25rem 0;
  }
  #meet-team-547 .cs-desc {
    max-height: 9em;
    overflow: hidden;
    position: relative;
  }
  #meet-team-547 .cs-desc.show-more {
    overflow: unset;
    max-height: unset;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-547 .cs-card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #meet-team-547 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: flex-start;
  }
  #meet-team-547 .cs-start-end-wrapper {
    flex-direction: row;
  }
  #meet-team-547 .cs-start-end-wrapper input {
    width: 40%;
    margin: 0;
  }
  #meet-team-547 .cs-content {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20%;
    overflow: hidden;
  }
  #meet-team-547 .cs-content .cs-filter-type-wrapper,
  #meet-team-547 .cs-content .cs-filter-year-wrapper,
  #meet-team-547 .cs-content .cs-filter-keywords-wrapper,
  #meet-team-547 .cs-content .cs-filter-journal-type-wrapper {
    width: 100%;
    align-items: flex-start;
  }
  #meet-team-547 .cs-content .cs-filter-type-wrapper .cs-title,
  #meet-team-547 .cs-content .cs-filter-year-wrapper .cs-title,
  #meet-team-547 .cs-content .cs-filter-keywords-wrapper .cs-title,
  #meet-team-547 .cs-content .cs-filter-journal-type-wrapper .cs-title {
    width: 100%;
    text-align: start;
  }
  #meet-team-547 .cs-content .cs-type-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  #meet-team-547 .cs-content .cs-start-end-wrapper {
    flex-direction: row;
  }
  #meet-team-547 .cs-content .cs-filter-button-wrapper {
    flex-direction: column;
    border: none;
    flex-wrap: nowrap;
    padding: 0;
  }
  #meet-team-547 .cs-content .cs-filter-button-wrapper > div {
    display: flex;
  }
  #meet-team-547 .cs-content .cs-filter-button-wrapper .cs-add-filter-wrapper {
    display: none;
  }
  #meet-team-547 .cs-card-group {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
/*-- -------------------------- -->
<---      Copyright Notice      -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #copyright-notice {
    padding: var(--sectionPadding);
  }
  #copyright-notice .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 48px - 64px */
    gap: var(--sectionGap);
  }
  #copyright-notice .cs-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #copyright-notice .cs-content .cs-text {
    width: 100%;
    max-width: unset;
    text-align: left;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #copyright-notice .cs-container {
    max-width: 80rem;
  }
}
