/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-1450 {
    padding: var(--sectionPadding);
  }
  #content-1450 .cs-container {
    width: 100%;
    max-width: 51.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sectionGap);
  }
  #content-1450 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #content-1450 .cs-title,
  #content-1450 .cs-text {
    max-width: 100%;
  }
}

/*-- -------------------------- -->
<---       Social Section       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #social-547 {
    padding: var(--sectionPadding);
  }
  #social-547 .cs-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  #social-547 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #social-547 .cs-topper,
  #social-547 .cs-title,
  #social-547 .cs-text {
    color: var(--bodyTextColor);
  }
  #social-547 .cs-card-group {
    width: 100%;
    margin: 0 0 1.25rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 1rem;
  }
  #social-547 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    height: fit-content;
    max-width: 32.625rem;
    margin: 0;
    padding: 0;
    background-color: var(--bodyTextColorWhite);
    box-shadow: var(--boxCardShadow);
    display: flex;
    flex-direction: column;
  }
  #social-547 .cs-picture {
    width: 100%;
    height: auto;
    aspect-ratio: 1.24;
    overflow: hidden;
    display: block;
    position: relative;
  }
  #social-547 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    transition: transform 0.6s;
  }
  #social-547 .cs-filter-wrapper {
    gap: 0;
  }
  #social-547 .cs-filter-wrapper a {
    padding: 0.625rem;
    border-bottom: white 3px solid;
  }
  #social-547 .cs-filter-wrapper a.active {
    border-bottom: var(--primary) 3px solid;
  }
  #social-547 .cs-title-card-wrapper .cs-title {
    margin: 0 0 1.25rem 0;
  }
  #social-547 .cs-timeline {
    font-size: var(--mediumFontSize);
    margin: 0 0 0.125rem 0;
    width: 100%;
    line-height: 1.2em;
    font-weight: 400;
    text-align: inherit;
    color: var(--bodyTextColor);
    display: block;
    text-align: left;
  }
  #social-547 .cs-desc {
    font-size: var(--bodyFontSize);
    max-height: 9em;
    overflow: hidden;
    position: relative;
  }
  #social-547 .cs-desc.show-more {
    overflow: unset;
    max-height: unset;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #social-547 .cs-card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #social-547 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: flex-start;
  }
  #social-547 .cs-filter-wrapper {
    gap: 0;
  }
  #social-547 .cs-filter-wrapper a {
    padding: 0.625rem;
    border-bottom: none;
    border-left: white 3px solid;
  }
  #social-547 .cs-filter-wrapper a.active {
    border-left: var(--primary) 3px solid;
    border-bottom: none;
  }
  #social-547 .cs-filter-wrapper {
    justify-content: flex-start;
  }
  #social-547 .cs-content {
    width: 20%;
    align-items: flex-start;
  }
  #social-547 .cs-card-group {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*-------------------------------------
  Gallery Carousel and Image Uniformity
--------------------------------------*/
.cs-gallery {
  position: relative;
  width: 100%;
  height: 300px; /* Enforce uniform image height */
  text-align: center;
  overflow: hidden;
}

.cs-slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: none; /* Controlled by JS */
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}
.next-btn {
  right: 10px;
}

.enlargeable-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.enlargeable-image:hover {
  transform: scale(1.2);
  z-index: 10;
}
