<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div aria-hidden="true" class="line footer"></div>
    <div class="container">
        <div class="full-section">
            <div class="credit">
                <span>Originally designed and hand coded by</span>
                <a href="https://columbiavalleywebdesigns.com/" target="_blank" rel="noopener">Columbia Valley Web Designs</a>
            </div>
        </div>
    </div>
</footer>