<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div aria-hidden="true" class="line footer"></div>
    <div class="container">
        <div class="full-section">
            <a class="logo" href="/">
                {% for logo in collections.logos %}
                    {% if logo.data.title == 'dark logo' %}
                        <img class="cs-dark" src="../..{{ logo.data.image }}" alt="logo" width="210" height="29" aria-hidden="true" decoding="async" loading="lazy">
                    {% endif %}
                {% endfor %}
            </a>
            <div class="credit">
                <span>Designed and hand coded by</span>
                <a href="https://columbiavalleywebdesigns.com/" target="_blank" rel="noopener">columbia valley web designs</a>
            </div>
        </div>
    </div>
</footer>