/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-1450 {
        padding: var(--sectionPadding);
        .cs-container {
            width: 100%;
            max-width: (820/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: var(--sectionGap);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title, .cs-text {
            max-width: 100%;
        }
    }
}

/*-- -------------------------- -->
<---       Collaborators        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

    #collaborator-current-cards {
        .cs-item {
            height: fit-content;
        }
    }
    #collaborator-current-cards, #collaborator-past-cards {
        padding: var(--sectionPadding);

        .cs-item {
            .cs-flex-group {
                align-items: flex-start;
            }
            .cs-item-social {
                width: 100%;
            }
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            // max-width: (496/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: 1rem
        }

        .cs-content {
            /* set text aling to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            overflow: auto;
        }

        .cs-topper,
        .cs-title,
        .cs-text {
            color: var(--bodyTextColor);
        }

        .cs-card-group {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }

        .cs-picture {
            width: 100%;
            height: auto;
            /* height divided by width, changed at desktop */
            aspect-ratio: 304/304;
            /* clips image tag from overflowing on hover */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image behave like a background image */
                object-fit: contain;
                /* places top of the image at the top of the box */
                object-position: center;
                transition: transform 0.6s;
            }
        }



        .cs-name {
            font-size: var(--bodyFontSize);
        }

        .cs-title-card-wrapper {
            .cs-title {
                margin: 0 0 20/16rem 0;
            }
        }

        .cs-job-title {
            /* 20px - 25px */
            font-size: var(--regularFontSize);
            margin: 0 0 (2/16rem) 0;
            width: 100%;
            line-height: 1.2em;
            font-weight: 400;
            text-align: inherit;
            color: var(--bodyTextColor);
            display: block;
            text-align: left;
        }

        .cs-desc {
            position: relative;
            &.show-more{
                overflow: unset;
                max-height: unset;
            }
        }
    }
}


/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #collaborator-current-cards, #collaborator-past-cards {
        .cs-card-group {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #collaborator-current-cards, #collaborator-past-cards {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-card-group {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}