/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-1450 {
    padding: var(--sectionPadding);
    padding-top: 6.25rem;
  }
  #content-1450 .cs-container {
    width: 100%;
    max-width: 51.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: var(--sectionGap);
  }
  #content-1450 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #content-1450 .cs-title,
  #content-1450 .cs-text {
    max-width: 100%;
  }
}
/*-- -------------------------- -->
<---       Job Cards     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #job-cards {
    padding: var(--sectionPadding);
  }
  #job-cards .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: 1rem;
  }
  #job-cards .cs-name {
    width: 90%;
    margin-right: auto;
  }
  #job-cards .cs-dropdown-icon {
    cursor: pointer;
  }
  #job-cards .cs-content {
    /* set text aling to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    overflow: auto;
  }
  #job-cards .cs-topper,
  #job-cards .cs-title,
  #job-cards .cs-text {
    color: var(--bodyTextColor);
    width: 100%;
    max-width: 100%;
    text-align: left;
  }
  #job-cards .cs-picture {
    width: 100%;
    height: auto;
    /* height divided by width, changed at desktop */
    aspect-ratio: 1;
    /* clips image tag from overflowing on hover */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #job-cards .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image behave like a background image */
    object-fit: contain;
    /* places top of the image at the top of the box */
    object-position: center;
    transition: transform 0.6s;
  }
  #job-cards .cs-title-card-wrapper .cs-title {
    margin: 0 0 1.25rem 0;
  }
  #job-cards .cs-job-title {
    /* 20px - 25px */
    font-size: var(--regularFontSize);
    margin: 0 0 0.5rem 0;
    width: 100%;
    line-height: 1.2em;
    font-weight: 400;
    text-align: inherit;
    color: var(--bodyTextColor);
    display: block;
    text-align: left;
  }
  #job-cards .cs-desc {
    position: relative;
  }
  #job-cards .cs-desc.show-more {
    overflow: unset;
    max-height: unset;
  }
  #job-cards .cs-item {
    height: fit-content;
    flex: 0 0 calc(100%);
  }
  #job-cards .cs-dropdown-icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  #job-cards .cs-flex-group {
    position: relative;
    max-height: inherit;
  }
  #job-cards .cs-flex-group:not(.is-active) .cs-dropdown {
    display: none!important;
  }
  #job-cards .cs-dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #job-cards .cs-timeline {
    margin: 0.375rem 0 0.375rem 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #job-cards .cs-container {
    max-width: 80rem;
    align-items: flex-start;
  }
  #job-cards .cs-item {
    height: fit-content;
    flex: 0 0 calc(25% - 0.8rem);
  }
  #job-cards .cs-content {
    width: 100%;
    overflow: hidden;
  }
}
