/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-1450 {
    padding: var(--sectionPadding);
    padding-top: 6.25rem;
  }
  #content-1450 .cs-container {
    width: 100%;
    max-width: 56.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: var(--sectionGap);
  }
  #content-1450 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: auto;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #content-1450 .cs-title,
  #content-1450 .cs-text {
    max-width: fit-content;
  }
}
/*-- -------------------------- -->
<---       Service Cards        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #list-of-cards {
    padding: var(--sectionPadding);
  }
  #list-of-cards .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 48px - 64px */
    gap: var(--sectionGap);
  }
  #list-of-cards .cs-content {
    /* set text aling to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #list-of-cards .cs-content .cs-text {
    width: 100%;
    max-width: unset;
    text-align: left;
  }
  #list-of-cards .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* 16px - 20px */
    gap: 2rem;
    justify-items: center;
  }
  #list-of-cards .cs-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -9%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, 0);
    left: 50%;
    background-color: white;
    border-radius: 100%;
  }
  #list-of-cards .cs-flex-group {
    position: relative;
    height: 100%;
  }
  #list-of-cards .cs-picture {
    width: 100%;
    height: auto;
    /* height divided by width, changed at desktop */
    aspect-ratio: 1.312;
    /* clips image tag from overflowing on hover */
    overflow: hidden;
    display: block;
    position: relative;
  }
  #list-of-cards .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image behave like a background image */
    object-fit: contain;
    /* places top of the image at the top of the box */
    object-position: center;
    transition: transform 0.6s;
  }
  #list-of-cards .cs-desc {
    margin: 0.25rem 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #list-of-cards .cs-container {
    max-width: 80rem;
  }
  #list-of-cards .cs-card-group {
    grid-template-columns: repeat(4, 1fr);
  }
  #list-of-cards .cs-title {
    top: -7%;
  }
  #list-of-cards .cs-flex-group {
    align-items: flex-start;
  }
}
