---
permalink: '/sitemap.xml'
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
<url>
  <loc>https://datadiversitylab.github.io/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>1.00</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/the-lab/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/our-team/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/lab-policies/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/our-resources/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/social/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/collaborators/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/join-us/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/research/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/publications/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/grants/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/conferences/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/lab-ops/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/teaching/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/the-data-hub/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/ms-advising/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/software/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/news/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/transparency/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://datadiversitylab.github.io/contact/</loc>
  <lastmod>2024-04-11T22:17:49+00:00</lastmod>
  <priority>0.80</priority>
</url>
</urlset>